body {
    font-family: "Source Sans Pro", "Helvetica Neue", Arial, sans-serif; 
    -webkit-font-smoothing: antialiased;
    background: url("./media/map.jpg") repeat-y;
}
.container, .container-fluid {
    background: rgba(255, 255, 255, 0.6);
}
/*.navbar-dark, .navbar-nav, .nav-link, a, .navbar-toggler, .navbar-toggler-icon, button {
    color: rgb(255, 255, 255) !important;
    font-size: 1em !important;
}*/
td {
    padding: 30px 10px 0px 10px
}
.card {
    margin-top: 40px
}
.card-text {
    padding-left: 20px
}
.jumbotron, footer {
    background-color: #006747; 
    color: white}
footer {
    margin-top: 100px
}
p, table, ul {
    font-size: 18px; 
    display: block; 
    margin-top: 1em; 
    margin-bottom: 1em
}
img {
    margin-bottom: 40px
}
h3 {
    font-weight: bolder;
}
#map {
    height: 400px; background-color: grey;
}


? 00a954 light green
? 006747 dark green